

.inputDivZT{
    margin: 0 auto;
    height: auto;
    width: 100%;
}
.inputDiv{
    margin: 0 auto;
    height: auto;
    width: 70%;
}
.inputDiv span{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 800;
}
.inputDiv input{
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 100%;
}
.inputDiv input,.inputDiv textarea{
    display: block;
    margin: 0 auto;
    width: 70%;
    border:1px solid #e4b9c0;
    outline-color: #00ee00;
    border-radius: 5px;
    position: relative;
    behavior: url(pie.htc);
}
.inputDiv select{
    width: 70%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    behavior: url(pie.htc);
    border:1px solid #e4b9c0;
}
.inputDivZT .inputDiv button{
    width: 60%;
    height: 40px;
    border: none;
    background-color: #e68900;
    color: white;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    line-height: 100%;
    margin: 15px auto;
    margin-bottom: 32px;
    display: block;
    border-radius: 5px;
    position: relative;
    behavior: url(pie.htc);
}