#apply-tanc tr,#carInfoDd tr{
    min-height: 40px;
    line-height: 100%;
}
#apply-tanc table,#carInfoDd table{
    font-size: 18px;
    margin: 15px auto;
    width: 80%;
}
#apply-tanc tr input{
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
}

#apply-tanc tr textarea{
    width: 100%;
    height: 60px;
}
#apply-tanc tr input[type=button],#carDd tr input[type=button],#carInfoDd tr input[type=button]{
    float: none;
    display: block;
    height: 40px;
    width: 50%;
    background-color: #ff9900;
    border: none;
    text-align: center;
    line-height: 100%;
    margin: 10px auto;
    color: white;
    font-weight: 800;
    font-size: 20px;
}