#viewTask ul,#changeSpeed ul,#seeMessage ul{
    width: 700px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
#changeSpeed ul{
    width: 200px;
    margin: 10px 0 0 10px;
    height: auto;
    overflow: hidden;
    padding: 0;
}
#viewTask li,#changeSpeed li,#seeMessage li{
    width: 100%;
    min-height: 40px;
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
}
#viewTask .splitLi ,#seeMessage .splitLi{
    width: 50%;
    float: left;
    overflow: hidden;
}
#viewTask  span,#changeSpeed span ,#seeMessage span{
    float: left;
    border: none;
    box-sizing: border-box;
}
#changeSpeed input,#seeMessage input{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
#viewTask .splitLi input ,#seeMessage .splitLi input{
    text-align: center;
    border: none;
}
#viewTask #speedTask{
    display: inline-block;
    margin-top: 3px;
    float: left;
}
#viewTask li button,#changeSpeed li button ,#seeMessage li button{
    display: block;
    height: 40px;
    width: 50%;
    background-color: #ff9900;
    border: none;
    text-align: center;
    line-height: 100%;
    margin: 0 auto;
    color: white;
    font-weight: 800;
    font-size: 20px;
}