#viewTask ul,#seeMessage ul,#transmitForm ul,#addRest ul,#viewTaskAll ul,#viewTaskOWN ul,#viewTaskQua ul,.TGK ul{
    width: 700px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
#addNewDiG ul,#changeItemsDiG ul,#applyItemsDiG ul,#SPxq ul,#viewDetailsDiG ul{
    width: 500px;
}
#changeSpeed ul{
    width: 100%;
    margin: 10px auto;
    height: auto;
    overflow: hidden;
    padding: 0;
}
#viewTask li,#changeSpeed li,#seeMessage li,#transmitForm li,#addRest li,#viewTaskAll li,#viewTaskOWN li,#viewTaskQua li,.TGK li{
    width: 100%;
    min-height: 40px;
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
}
.TGK li{
    margin-top: 10px;
}
#addRest li{
    margin: 10px auto;
}
#addRest li select{
    font-size: 16px;
    height: 35px;
    text-align: center
}
#viewTask .splitLi ,#seeMessage .splitLi ,#transmitForm .splitLi,#viewTaskAll .splitLi,#viewTaskOWN .splitLi,#viewTaskQua .splitLi{
    width: 50%;
    float: left;
    overflow: hidden;
}
#viewTask  span,#changeSpeed span ,#seeMessage span,#transmitForm span,#addRest span,#viewTaskAll span,#viewTaskOWN span,#viewTaskQua span,.TGK span{
    float: left;
    box-sizing: border-box;
}
#viewTask li>span,.TGK li>span,#viewTaskAll li>span,#viewTaskOWN li>span,#viewTaskQua li>span,#transmitForm li>span,.splitLi>span{
    width: 118px;
}
#transmitForm span{
    border-radius: 0;
}
#addRest li span{
    width: 210px;
    text-align: center;
    display: block;
}
#addRest li  span .combo-arrow{
    float: right;
}
#addRest li .datebox{
    border: 1px solid #d2d2d2;
    border-radius: 0;
}
#changeSpeed input,#seeMessage input,#transmitForm input ,#addRest input,.TGK input{
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
#addRest input,#addNewDiG li input,#changeItemsDiG li input,#applyItemsDiG  li input,#SPxq li input,#viewDetailsDiG li input{
    width: 350px;
}
#viewTask .splitLi input ,#seeMessage .splitLi input,#transmitForm .splitLi input,#viewTaskAll .splitLi input,#viewTaskOWN .splitLi input,#viewTaskQua .splitLi input{
    text-align: center;
    font-size: 16px;
    font-family: 宋体;
    font-weight: 700;
}
#viewTask ,#speedTask ,#viewTaskAll,#viewTaskOWN{
    display: inline-block;
    margin-top: 3px;
    float: left;
}
#viewTask li .button-task,#changeSpeed li .button-task ,#seeMessage li .button-task,#transmitForm li .button-task,#addRest li .button-task,#viewTaskAll li .button-task ,#viewTaskOWN li .button-task,#viewTaskQua li .button-task,#changeTime li .button-task,.TGK li .button-task{
    float: none;
    display: block;
    height: 40px;
    width: 50%;
    background-color: #ff9900;
    border: none;
    text-align: center;
    line-height: 100%;
    margin: 0 auto;
    color: white;
    font-weight: 800;
    font-size: 20px;
}