
ul li{
	list-style: none;
}
input,select,textarea{
	width: 150px;
    border: 1px solid #ccc;
    padding: 5px 0;
    border-radius: 4px;
    margin-bottom: 10px;
}  
input[type='button']{
	width:90px;
	margin: auto;
}
table[name='form']{
	height: 200px;
	width: 300px;
	margin: 0 auto;
}

.cmn_list{
	text-align:center;
	padding: 0px;
	margin: 0px;
}
.cmn_list span{
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}
.align{
	vertical-align: top;	
}



