*{
    font-family: 微软雅黑;
}
.PagingBody h3{
    width: 100%;
    text-align: center;
    font-weight: 800;
    margin: 30px auto;
}

#changeTask ul{
    width: 600px;
    height: auto;
    margin: 0 auto ;
    overflow:hidden;
}
#changeTask  li{
    margin: 20px auto;
    width: 80%;
    font-size: 16px;
    height: auto;
    line-height: 40px;
    overflow:hidden;
}

#changeTask  li span{
	float:left;
}
#changeTask  li input{
    width: 70%;
    border-radius: 5px;
    height: 42px;
     float:left;
    position: relative;
    behavior: url(pie.htc);
}
#changeTask  li textarea{
    width: 70%;
    border-radius: 5px;
    position: relative;
    behavior: url(pie.htc);
    float:left;
}
#changeTask  li button,#changeTask li .button-task{
    float: none;
    border: none;
    width: 65%;
    height: 42px;
    background-color: #ff9900;
    font-weight: 800;
    color: white;
    display: block;
    margin: 30px auto;
    text-align: center;
    line-height: 100%;
     border-radius: 5px;
    position: relative;
    behavior: url(pie.htc);
}