<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zzhj.mapper.RequestSealMapper">
	<resultMap type="requestSeal" id="zs">
		<id column="id" property="id"/>
		<result column="number" property="number"/>
		<result column="project_name" property="projectName"/>
		<result column="request_date" property="requestDate"/>
		<result column="approver" property="approver"/>
		<result column="over_date" property="overDate"/>
		<result column="state" property="state"/>
		<result column="copiesNumber" property="copiesNumber"/>
		<result column="text" property="text"/>
		<result column="why" property="why"/>
		<result column="pageNumber" property="pageNumber"/>
		<result column="agent" property="agent"/>
		<association property="userId" javaType="users">
			<result column="name" property="name"/>
		</association>
		<association property="sealId" javaType="seal">
			<result column="type_name" property="typeName"/>
		</association>
	</resultMap>

   <select id="queryAll" resultMap="zs" parameterType="int">
  		 SELECT r.id,r.number,r.project_name,r.request_date,r.approver,r.over_date,r.state,r.copiesNumber,r.text,r.why,r.pageNumber,r.agent,u.name FROM request_seal r INNER JOIN users u ON u.id=r.user_id INNER JOIN seal s ON s.id=r.seal_id  limit #{startPage},#{rows}
  </select>
  <select id="totalCount" resultType="int">
  		select count(id) from request_seal
  </select>
  
  <insert id="save" parameterType="requestSeal">			 
  	insert into request_Seal(number,project_name,pageNumber,copiesNumber,text,why,user_id,request_date,approver,state,seal_id)
  	values(#{number},#{projectName},#{pageNumber},#{copiesNumber},#{text},#{why},#{userId.id},#{requestDate},#{approver},#{state},#{sealId.id})
  </insert>	
  
    <update id="approver" parameterType="object">
  	update request_seal set 
  	<if test="userName!=''">
  		approver=#{userName}
  	</if> 
  	<if test="userName==''">
  		state="已审批"
  	</if>
  	 where id=#{sealId}
  </update>
  
    <select id="totalCountOneself" parameterType="string" resultType="int">
  	SELECT COUNT(id) FROM request_Seal where approver=#{value}
  </select>
  
    <select id="queryOneOneself" parameterType="int" resultMap="zs">
  	SELECT r.id,r.number,r.project_name,r.request_date,r.approver,r.over_date,r.state,r.copiesNumber,r.text,r.why,r.pageNumber,u.name FROM request_seal r INNER JOIN users u ON u.id=r.user_id where id=#{value}
  </select>
  
    <select id="queryOneself" parameterType="object" resultMap="zs">
  	SELECT r.id,r.number,r.project_name,r.request_date,r.approver,r.over_date,r.state,r.copiesNumber,r.text,r.why,r.pageNumber,r.agent,s.type_name,u.name FROM request_seal r INNER JOIN users u ON u.id=r.user_id inner join seal s on s.id=r.seal_id where approver=#{userName} limit #{startPage},#{rows}
  </select>
  
  <select id="approverRequestSeal" parameterType="int" resultMap="zs">
  	 SELECT r.id,r.number,r.project_name,r.request_date,r.approver,r.over_date,r.state,r.copiesNumber,r.text,r.why,r.pageNumber,r.agent,u.name,s.type_name FROM request_seal r INNER JOIN users u ON u.id=r.user_id INNER JOIN seal s ON s.id=r.seal_id where r.state='已审批' limit #{startPage},#{rows}
  </select>
  
  <select id="approverTotal" resultType="int">
  	select count(id) from request_Seal where state='已审批'
  </select>
  
  <update id="handling" parameterType="requestSeal">
  	update request_seal set agent=#{agent},over_date=#{overDate} where id=#{id}
  </update>
</mapper>
