<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zzhj.mapper.RequestGoodsMapper">
	<resultMap type="requestGoods" id="rg">
		<id column="id" property="id"/>
		<result column="approver" property="approver"/>
		<result column="state" property="state"/>
		<result column="request_date" property="requestDate"/>
		<result column="approver_date" property="approverDate"/>
		<result column="goods_number" property="goodsNumber"/>
		<association property="userId" javaType="users">
			<result column="name" property="name"/>
		</association>
		<association property="goodId" javaType="officeSupplies">
			<result column="g_id" property="id"/>
			<result column="goods_name" property="goodsName"/>
		</association>
	</resultMap>

  	<insert id="saveRequestGoods" parameterType="requestGoods">
  		insert into request_goods(user_id,goods_id,goods_number,approver,state,request_date)
  		values(#{userId.id},#{goodId.id},#{goodId.goodsNumber},#{approver},#{state},#{requestDate})
  	</insert>
  	<select id="queryAll" parameterType="int" resultMap="rg">
  		select r.*,u.name,o.goods_name from request_goods r inner join users u on r.user_id = u.id
  		inner join office_supplies o on r.goods_id = o.id limit #{startPage},#{rows}
  	</select>
  	<select id="queryOwnAll" parameterType="int" resultMap="rg">
  		select r.*,u.name,o.goods_name from request_goods r inner join users u on r.user_id = u.id
  		inner join office_supplies o on r.goods_id = o.id where u.id=#{userId} limit #{startPage},#{rows}
  	</select>
  	<update id="approver" parameterType="object" >
  		update request_goods set state='已审批',approver_date=#{date},approver=#{approverName} where id=#{id}
  	</update>
  	<delete id="delete" parameterType="int">
  		delete from request_goods where id=#{value}
  	</delete>
  	<select id="totalCount" resultType="int">
  		select count(id) from request_goods
  	</select>
  	<select id="likeUserQueryAll" parameterType="string" resultMap="rg">
  		select r.*,u.name,o.goods_name from request_goods r inner join users u on r.user_id = u.id
  		inner join office_supplies o on r.goods_id = o.id where u.name like '%${value}%'
  	</select>
  	<select id="queryId" parameterType="int" resultMap="rg">
  		select o.id as g_id from request_goods r inner join office_supplies o on o.id=r.goods_id where r.id=#{value}
  	</select>
</mapper>
