<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.zzhj.mapper.TaskMapper">

  <insert id="addTask" parameterType="task">
  	INSERT INTO tasks(task_theme,task_text,user_name,task_day,task_date,recipient,state)
  	values(#{taskTheme},#{taskText},#{userName},#{taskDay},#{taskDate},#{recipient},"已发布")
  </insert>
  <update id="transmitTask" parameterType="object">
  	update tasks set implement=#{userName},state="已下达" where id=#{taskId}
  </update>
  <update id="acceptTask" parameterType="object">
  	update tasks set implement_date=#{startDate},state="以执行" where id=#{taskId}
  </update>
  <update id="successTask" parameterType="object">
  	update tasks set success_date=#{successDate},state="已完成" where id=#{taskId}
  </update>
  <update id="updateTaskSpeed" parameterType="int">
  	update tasks set speed=#{speed} where id=#{taskId}
  </update>
  
  <select id="queryAll" parameterType="int" resultType="task">
  	select * from tasks limit#{startPage},#{rows}
  </select>
  <select id="queryOwn" parameterType="object" resultType="task">
  	select * from tasks where implement=#{userName} or recipient=#{userName} LIMIT #{startpage},#{rows}
  </select>
  <select id="totalCount" resultType="int">
  	select count(id) from tasks
  </select>
  <select id="totalCOuntOwn" parameterType="string" resultType="int">
  	select count(id) from tasks where implement=#{value} or recipient=#{value}
  </select>
  <update id="updateTask" parameterType="task">
  	update set tasks_theme=#{taskTheme},task_text=#{taskText},task_day=#{taskDay} where id=#{id}
  </update>
</mapper>
